@page
@{
    ViewData["Title"] = "Cookie Policy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>

<h3>What are cookies and what are they used for?</h3>
<p>
    Cookies are small text files that are placed on your computer or mobile device by websites that you visit.
    Your web browser sends these cookies back to the website that set them on each subsequent visit so that they
    can make the website work more efficiently, as well as provide useful information such as how you are using the website.
</p>
<p>
    The data we collect using cookies helps us understand our customers better so that we can provide a more focused
    user experience. Using the knowledge of your previous visits to our website, we can enhance subsequent
    visits by tailoring our content to match your requirements.
</p>
<p>
    Generally our cookies don't store sensitive or personally identifiable information such as your name and address or credit card details.
</p>
<p>
    Cookies are either referred to as session or persistent, depending on how long they are used:
    <li>
        Session cookies only last for your online session and disappear from your computer or device when you close your browser.
    </li>
    <li>
        Persistent cookies stay on your computer or device after the browser is closed for a set period of time which is specified by the cookie.

    </li>
</p>

<h3>How cookies are used on Oriolix sites</h3>
<ol>
    <li>
        <strong>Strictly necessary cookies</strong>
        <p>
            These cookies are essential to the running of the website.
            These cookies do not gather information about you that could be used for marketing or analytics (see below).
            An example of this includes authentication and authorization.
        </p>
    </li>
    <li>
        <strong>Functional cookies</strong>
        <p>
            These cookies allow our website to store choices you have made about how you would like it to function.
            Examples would be remembering if you’ve acknowledged the cookie policy notice, or whether you want to stay
            logged in even after browser restart.
        </p>
    </li>
</ol>

<p>
    We do not use tracking cookies for targeted advertisement or similar.
</p>


<h3>Controlling, turning off and deleting cookies</h3>
<p>
    Most cookies can be controlled from the settings within your browser. You can:
    <ul>
        <li>See individual cookies along with their expiry date, and delete them if you choose.</li>
        <li>Block third party cookies (or ask not to be tracked).</li>
        <li>Block all cookies.</li>
        <li>Delete all cookies when you close your browser.</li>
    </ul>
    If you choose to block all cookies, many websites will not work properly, and functionality may break. We do not recommend turning cookies off when using our website for this reason.
    The links below will direct you to the instructions for changing the cookie settings in the most popular browsers:

    <p>
        <strong>Google Chrome:</strong><br/>
        https://support.google.com/chrome/answer/95647?hl=en
    </p>
    <p>
        <strong>Firefox:</strong><br/>
        https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer
    </p>
    <p>
        <strong>Internet Explorer:</strong><br/>
        https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies
    </p>
    <p>
        <strong>Safari:</strong><br/>
        https://support.apple.com/en-gb/guide/safari/sfri11471/mac
    </p>
    <p>
        <strong>Other web browsers</strong><br/>
        https://www.aboutcookies.org/how-to-control-cookies/
    </p>
    This is not an exhaustive list of all browsers – please consult the ‘settings’ or ‘support’ section for your browser.
</p>