@page
@{
    ViewData["Title"] = "Impressum";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Impressum</h2>
<p>
    <strong>Information according to § 5 TMG</strong>
    <br/>
    David Stein
    <br/>
    Andreas-Pfitzmann-Bau, Fakultät Informatik, Nöthnitzer Str. 46
    <br/>
    Office 2029
    <br/>
    01187 Dresden
</p>
<p>
    <strong>Contact</strong>
    <br/>
    Telephone: +4917662798955
    <br/>
    E-Mail: David.Stein1@tu-dresden.de
    <br/>
    Website: https://mlcv.inf.tu-dresden.de/
</p>


<h2>Deutsche Version</h2>
<p>
    <strong>Angaben gemäß § 5 TMG</strong>
    <br/>
    David Stein
    <br/>
    Andreas-Pfitzmann-Bau, Fakultät Informatik, Nöthnitzer Str. 46
    <br/>
    Büro 2029
    <br/>
    01187 Dresden
</p>
<p>
    <strong>Kontakt</strong>
    <br/>
    Telefon: +4917662798955
    <br/>
    E-Mail: David.Stein1@tu-dresden.de
    <br/>
    Website: https://mlcv.inf.tu-dresden.de/
</p>