@page
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Privacy Declaration</h2>
<ol>
    <li>
        <strong>What is the purpose of the data processing?</strong>
        <p>
            Personal data is processed for authentication, authorisation and provisioning.
        </p>
    </li>
    <li>
        <strong>Who is responsible for compliance with the data protection regulations?</strong>
        <p>You can access the necessary information by following the <a asp-area="" asp-page="/Impressum">Impressum</a>.</p>
    </li>
    <li>
        <strong>Which personal data is processed?</strong>
        <p>
            The following personal data is processed:
            <ul>
                <li>First Name</li>
                <li>Last Name</li>
                <li>E-mail address</li>
                <li>Mailing address</li>
                <li>Audio data of bird recordings</li>
                <li>Metadata attached to uploaded or shared audio data, e.g. annotations made by the user</li>
                <li>Log data</li>
            </ul>
        </p>
    </li>
    <li>
        <strong>What is the legal basis for processing of personal data?</strong>
        <p>
            The processing is carried out according to § 11 para. 1 Saxon Data Protection Law (Sächsisches Datenschutzdurchführungsgesetz).
        </p>
    </li>
    <li>
        <strong>Who receives the data?</strong>
        <p>
            Unless otherwise stipulated by law, personal data will not be transferred to third parties.
        </p>
    </li>
    <li>
        <strong>How long is the personal data stored for?</strong>
        <p>
            Identifying personal data is deleted as soon as the user deletes his account.
            Uploaded audio recordings of birds are stored as long as they seem to be of interest to us, whereby
            removing any identifying information of the user if account deletion has been requested.
            Log data is automatically deleted after 30 days.
        </p>
    </li>
    <li>
        <strong>What rights does the person in question have?</strong>
        <p>
            You have the right to obtain information from us about the data stored about your person and/or to have incorrectly stored data corrected. You have the right to deletion or limitation of the processing and/or a right to object to the processing.
        </p>
    </li>

</ol>