.info-button {
    position: absolute;
    display: block;
    right: 50px;
    bottom: 50px;
    border-radius: 100%;
    width: 5em;
    height: 5em;
}

.info-button p {
    margin: 5px;
    font-size: 28pt;
    display: inline-block;
}

.info-table {
    width: 100%
}

th, td {
    padding: 4px;
}

kbd {
    background-color: #ddd;
    color: #000;
    border-radius: 3px;
    padding: 3px 2px 0;
    border: 1px solid black;
}

kbd>kbd {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid black;
}